.landing-bg {
  position: relative;
  min-height: 85vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-container {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
  border-radius: 20px;
  padding: 2.5rem 2rem;
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 3rem;
    .highlight {
      color: #3f51b5;
    }
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #555;
  }

  .cta {
    display: flex;
    gap: 1.5rem;
    margin: 2rem 0 1.5rem 0;
  }

  .features {
    width: 100%;
    margin-top: 1.5rem;
    text-align: left;

    h2 {
      text-align: center;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 1.1rem;

      li {
        font-size: 1.1rem;
        margin-bottom: 0.75rem;
        display: flex;
        align-items: center;
      }
    }
  }

  footer {
    margin-top: 60px;
    color: #888;
    font-size: 0.9rem;
  }
}

.highlight {
  color: #2575fc;
  font-weight: 700;
}
