/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.custom-backdrop {
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-image: url('assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}